{% extends 'profile/index.html.twig' %}

{% block title %}{% trans %}Change password page{% endtrans %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row no-gutter justify-content-center">
        <div class="col-12 col-lg-4 col-md-4">
            <div class="form-login shadow-lg">
                <h1 class="h3 mb-4 fw-normal text-center">{% trans %}Change password{% endtrans %}</h1>
                <main>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                            <strong>{{ message|trans }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                            <strong>{{ message|trans }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    {{ form_start(changepasswordform) }}
                        {% if form_errors(changepasswordform.plainPassword) %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(changepasswordform.plainPassword) }}
                            </div>
                        {% endif %}
                        <div class="form-floating mb-4">
                            {{ form_widget(changepasswordform.plainPassword) }}
                            {{ form_label(changepasswordform.plainPassword,'Password'|trans) }}
                        </div>
                        {% if form_errors(changepasswordform.plainPasswordAgain) %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(changepasswordform.plainPasswordAgain) }}
                            </div>
                        {% endif %}
                        <div class="form-floating mb-4">
                            {{ form_widget(changepasswordform.plainPasswordAgain) }}
                            {{ form_label(changepasswordform.plainPasswordAgain,'Password again'|trans) }}
                        </div>
                        <div class="checkbox mb-5">
                            {{ form_errors(changepasswordform.agreeTerms) }}
                            {{ form_widget(changepasswordform.agreeTerms) }}
                            {{ form_label(changepasswordform.agreeTerms,"I'm sure"|trans) }}
                        </div>
                        {{ form_row(changepasswordform.save,{'label': 'Сonfirm'|trans}) }}
                    {{ form_end(changepasswordform) }}
                </main>

            </div>
        </div>
    </div>
</div>

{% endblock %}