{% extends 'base.html.twig' %}

{% block title %}{% trans %}Main page{% endtrans %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="mb-5">{% trans %}Last added Items{% endtrans %}</h1>

<div class="d-flex">
    {% for item in items %}
    <div class="card mb-5 p-0 ms-3 shadow-sm" style="width: 11rem;">
    <img src="{{ asset('images/items/') }}{{ item.imageItems }}" class="card-img-top h-50" alt="...">
    <div class="card-body">
        <p class="h5">{{ item.nameItem|length > 15 ? item.nameItem|slice(0, 15) ~ '...' : item.nameItem  }}</p>
        <p class="h6">
            {% set comma = "," %}
            {% for tag in item.tagItem %}
                {% if tag != null %}
                {{ tag }}
                    {% if loop.last != true %}
                        {{ comma }} 
                    {% endif %}
                {% endif %}
            {% endfor %}
        </p>
    </div>
        <a href="{{ path('item.view', {itemid: item.id}) }}" class="card-link text-center mb-1">{% trans %}VIEW{% endtrans %}</a>
    </div>
    {% endfor %}
</div>

<nav class="d-flex justify-content-end">
    <ul class="pagination">
        {% if previous >= 0 %}
            <li class="page-item"><a class="page-link" href="{{ path('home', {  offset: previous }) }}">{% trans %}Previous{% endtrans %}</a></li>
        {% endif %}
        {% if next < items|length %}
            <li class="page-item"><a class="page-link" href="{{ path('home', {  offset: next }) }}">{% trans %}Next{% endtrans %}</a></li>
        {% endif %}
    </ul>
</nav>





</div>
{% endblock %}
