{% extends 'base.html.twig' %}

{% block title %}Hello TvController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Add new TV! ✅</h1>

    {{ form_start(formAddTV) }}

    {{form_errors(formAddTV)}}
    <div class="mb-3">
        {{ form_label(formAddTV.mark, null, {'label_attr': {'class': 'form-label'}})}}
        {{ form_errors(formAddTV.mark) }}
        {{ form_widget(formAddTV.mark,{attr:{class:'form-control'}}) }}
    </div>
        <div class="mb-3">
        {{ form_label(formAddTV.model)}}
        {{ form_errors(formAddTV.model) }}
        {{ form_widget(formAddTV.model,{attr:{class:'form-control'}})  }}
        </div>
        <div class="mb-3">
        {{ form_label(formAddTV.size)}}
        {{ form_errors(formAddTV.size) }}
        {{ form_widget(formAddTV.size,{attr:{class:'form-control'}}) }}
        </div>
        <div class="mb-3">
        {{ form_row(formAddTV.smarttv, {attr:{class:'form-check-input'}}) }}
        {{ form_widget(formAddTV.save, {attr:{class:'btn btn-primary'}})}}
        </div>
    {{ form_end(formAddTV) }}
</div>
{% endblock %}
