{% extends 'base.html.twig' %}

{% block title %}Hello TvController!{% endblock %}

{% block header %}
<h3>ДЗ по 'twig' выполнил Хаменок Виталик</h3>
{% endblock %}

{% block content %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }

    .colorText {
        color: green;
    }

    .oddstr {
        background: grey;
    }
</style>
<div class="example-wrapper">
    {% if tv %}
    <h1>TV list</h1>

    <table class="table table-hover">
        <thead>
            {% include 'tv/tr.html.twig' with {
                    'number':'#',
                    'Mark':'Марка',
                    'Model': 'Модель',
                    'Size': 'Диагональ экрана',
                    'SmartTV': 'Смарт ТВ',
                } %}
        </thead>
        <tbody>
            {% for televisor in tv %}
            {% if loop.first %}
            <tr class="colorText">
                {% else %}
            <tr>
                {% endif %}
                {% if loop.index is even %}
            <tr class="oddstr">
                {% else %}
                {% if not loop.first %}
            <tr>
                {% endif %}
                {% endif %}
                <th>{{ loop.index }}</th>
                <td>{{ televisor.mark }}</td>
                <td>{{ televisor.model }}</td>
                <td>{{ televisor.size }}</td>
                <td>
                    {% if (televisor.smarttv) %}
                    <input type="checkbox" checked>
                    {% else %}
                    <input type="checkbox">
                    {% endif %}
                </td>
                <td>

                    <button type="post" class="btn btn-primary"
                        onclick="document.location='{{ path('tv.remove', {id: televisor.id}) }}'">Удалить</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <div class="blockMessage">К сожалению телевизоры отсутствуют</div>
    {% endif %}
</div>
{% endblock %}
{% block footer %}
Сегодня: <h1>{{ "now"|format_datetime(locale='by') }}</h1>
{% endblock %}