{% extends 'profile/index.html.twig' %}

{% block title %}{% trans %}MY COMMENTARIES{% endtrans %}{% endblock %}

{% block wrapper %}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans %}ITEM{% endtrans %}</th>
            <th scope="col">{% trans %}DATE{% endtrans %}</th>
            <th scope="col">{% trans %}MESSAGE{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td><a href="{{ path('item.view',{itemID: comment.itemID }) }}"> {{ comment.nameItem }} </a></td>
            <td>{{ comment.datecomment|date('Y-m-d H-m')}}</td>
            <td>{{ comment.message }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="col-md-1 m-auto">

            <nav>
                <ul class="pagination">
                    {% if previous >= 0 %}
                    <li class="page-item"><a class="page-link"
                            href="{{ path('comment.view', {  offset: previous }) }}">{% trans %}Previous{% endtrans %}</a></li>
                    {% endif %}
                </ul>
            </nav>
       
            <nav>
                <ul class="pagination">
                    {% if next < comments|length %}
                    <li class="page-item"><a class="page-link ms-4"
                            href="{{ path('comment.view', {  offset: next }) }}">{% trans %}Next{% endtrans %}</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
{% endblock %}