{% extends 'base.html.twig' %}

{% block title %}Users page{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="example-wrapper">
    <h1> This is my Users from DB</h1>

    Users:
    <div class="list-group">

    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th onclick="document.location='/db/edituser/{{user.getIdusers()}}'">{{user.getIdusers()}}</th>
                <td onclick="document.location='/db/edituser/{{user.getIdusers()}}'">{{ user.firstname }}</td>
                <td onclick="document.location='/db/edituser/{{user.getIdusers()}}'">{{ user.lastname }}</td>
                <td><button type="post" class="btn btn-primary"
                        onclick="document.location='/db/deleteuser/{{user.getIdusers()}}'">Delete</button>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Add user</h4>
<form method="post" action="/db/adduser/">
    
        <div class="row">
            <div class="mb-3 col">
                <label for="newFirstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="newFirstName" name="newFirstName" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 col">
                <label for="newLastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="newLastName" name="newLastName">
            </div>
            <button  class="btn btn-primary" >Add user</button>
        </div>
    
</form>

</div>
{% endblock %}